.statistics-container {
    height: 20vh;
    display: flex;
    justify-content: space-between;
    .element {
        position: relative;
        .ellipsis {
            position: absolute;
            top: 2px;
            right: 10px;
        }
        width: 23%;
        background-color: #fff;
        box-shadow: 2px 2px 10px #ccc;
        border-radius: 10px;
        > div {
            display: flex;
            justify-content: space-between;
        }
        .data {
            height: 80%;
            > div {
                width: 100%;
                padding: 10px;
            }
            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                fa-icon {
                    font-size: 64px;
                    padding: 10px;
                    border-radius: 10px;
                }
                #leads {
                    background-color: #d0eaf8;
                    color:#96d9ea
                }
                #totalLeads {
                    background-color: #cef7f3;
                    color:#99ebd5
                }
                #totalHotLeads {
                    background-color: #ccdaf4;
                    color:#9c99eb
                }
                #totalFollowUpdates {
                    background-color: #f7ecce;
                    color:#ebcb99
                }
            }
            .number {
                font-size: 64px;
                display: flex;
                align-items: center;
            }
        }
        .actions{
            padding: 0px 10px;
            .action{
                a {
                    text-decoration: none;
                }
            }
        }
    }
}