.whole {
    height: 100vh;
    // padding: 20px;
    .container-n-navbar, .sidebar {
        // padding: 20px;
    }
    .container-n-navbar {
        // width: 85%
        padding-left: 80px;
    }
    .sidebar.side-menu-opened +.container-n-navbar {
        padding-left: 160px;
    }
}